.container{


    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 0 50px 0;
}

img {
    display: block;
    max-width:600px;
    max-height:600px;
    width: auto;
    height: auto;

    object-fit: cover;
}

.allArticlesTitle{
    font-weight: bold;
    font-size: large;
}

.mainArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    

} 

.mainArticle img{
    min-width: 500px;
    min-height: 500px;

    max-width: 700px;
    max-height: 900px;


}

.mainArticle .title{
    font-size: xxx-large;  
    
    
}

.mainArticle .content{
    font-size: x-large
}

.title,.content{
    text-align: center;
}

.separator{
    width: 50%;
height: 2px;

background: #000;


margin: 20px 0 20px 0;
}



.columnWrapper {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between; /* Garante que haverá espaço entre as colunas */
    max-width: 1200px; /* Define a largura máxima das colunas */
    margin: 0 auto; /* Centraliza as colunas no centro da página */
  }
  
  .article {
    width: calc(40% - 5px); /* Cada artigo ocupa metade da largura disponível */
  }


  .article {

    display: flex;
    flex-direction: column;
    justify-content: center;


    text-align: center;

    padding: 40px;
    border-radius: 5px;



  }


  .articleTitle{
    padding: 0;

    font-weight: bold;
  }



  .article img {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1/1; /* Mantém o aspect ratio 1:1 */

    clip-path: polygon(5% 5%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  }